.p3table {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  table-layout: fixed;
}

.p3dayrow {
  height: 30px;
}

.p3table td {
  border: 1pt solid black;
  margin: 0pt;
}
