.p3table {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  table-layout: fixed;
}

.p3table td {
  border: 1pt solid black;
  margin: 0pt;
  position: relative;
}

.p3month {
  background-color: yellow;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.p3dayrow {
  height: 30px;
}

.p3holiday {
  background-color: #ffbbbb;
}

.p3weekend {
  background-color: #ffdddd;
}

.p3daylabel {
  font-family: monospace;
  font-size: small;
}

.p3holidayname {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50%;
  font-style: italic;
}
